<div id="inline" th:fragment="update" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal fade mt-1 pt-1" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true" th:attrappend="id=${user.id}, aria-labelledby=${user.id}">
        <div class="modal-dialog mt-1 pt-1" role="document">
            <div class="modal-content mt-1 pt-1">
                <div class="modal-body mt-0 pt-1">
                    <form action="/admin/update" method="POST" class="form-group mt-0 pt-1">
                        <div class="group-item "><span class="font-weight-bold">ID</span>
                            <input type="text" class="form-control" name="id" readonly required th:value="${user.id}">
                        </div>
                        <div class="group-item "><span class="font-weight-bold">First name</span>
                            <input type="text" class="form-control" name="firstname" required
                                   th:value="${user.firstname}">
                        </div>
                        <div class="group-item"><span class="font-weight-bold">Lastname</span>
                            <input type="text" class="form-control" name="lastname" required
                                   th:value="${user.lastname}">
                        </div>
                        <div class="group-item"><span class="font-weight-bold">Email</span>
                            <input type="email" class="form-control" name="email" required th:value="${user.email}">
                        </div>
                        <div class="group-item"><span class="font-weight-bold">Birthdate</span>
                            <input type="date" class="form-control" name="birthdate" required
                                   th:value="${user.birthdate}">
                        </div>
                        <div class="group-item"><span class="font-weight-bold">Phone</span>
                            <input type="text" class="form-control" name="phone" pattern="\+[0-9][0-9]{10}" required
                                   th:value="${user.phone}">
                        </div>
                        <div class="group-item">
                            <span class="font-weight-bold">Role</span>
                            <div class="form-control form-checkbox">
                                <input type="checkbox" class="form-control-input" id="customCheck1" name="role" checked value="ADMIN">
                                <label class="form-control-label">ADMIN</label>
                            </div>
                            <div class="form-control form-checkbox">
                                <input type="checkbox" class="form-control-input" id="customCheck2" name="role" checked value="USER">
                                <label class="form-control-label">USER</label>
                            </div>
                        </div>
                        <div class="group-item"><span class="font-weight-bold">Password</span>
                            <input type="password" class="form-control" name="password" pattern="[A-Za-z0-9$.]{8,}"
                                   placeholder="Leave blank for no change">
                        </div>
                        <input type="hidden" name="previousEmail" th:value="${user.email}">
                        <input type="hidden" name="previousPass" th:value="${user.password}">
                        <div class="modal-footer mt-0 pt-2">
                            <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                            <button type="submit" class="form-group-item btn btn-info">Update user</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>